#main-content{
  }
  ion-list {
    ion-item {
      ion-label {
      }
    }
  }

  .logo-Menu{
    width: 100%;
    display: flex;
    justify-content: center;
  }

ion-img{
  width:50%;
}

#main-content{
}
ion-list {
  ion-item {
    ion-label {
      margin-left: 10px;
    }
  }
}


