#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

ion-content{
    background-image: url(../../assets/Party-2.jpg);
    --background: transparent;
    background-size: 200vw;
    background-position: center;
    background-repeat: no-repeat;
}


ion-input{
    --background:transparent;
    background-color: transparent;
    backdrop-filter: blur(90px);
}